.container > div {
    height: 200px;
    width: 200px;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 10px; 
    flex-direction: row;
    justify-content: space-between;

}

.yttre {
    height: 300px;
    width: 300px;
    border: 2px solid salmon;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inre {
    height: 150px;
    width: 150px;
    border: 2px dotted plum; 
}

.ruta {
    width: 400px;
    height: 400px;
    border: 2px double red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 400px;
    height: 500px;
    border: 8px solid skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ram {
    height: 400px;
    width: 400px;
    border: solid 2px blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cirkel {
    height: 100px;
    width: 100px;
    border: double 5px brown;
    border-radius: 50%;
}