aside {
    background-color: pink;

}

main {
    background-color: yellow;
}

section {
    background-color: blue;
}

.container {
    display: flex;
    flex-direction: column;
}

@media screen (min-width: 500px;)  {
    
}