aside {
    background-color: pink;

}

main {
    background-color: yellow;
}

section {
    background-color: blue;
}

.container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 769px)  {
    aside {
        width: 200px;
    }

    main {
        width: 300px;
        background-color: orange;
    }

    section {
        width: 50px;
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px; 
    }
}